body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input[type="number"] {
    width: 80px;
    padding: 10px;
    font-size: 16px;
}

p {
    font-size: 1.2em;
}
.message-box {
    width: 100%;
    max-height: 130px; /* Adjust as needed */
    overflow-y: auto;
    margin: 15px;
    border: 2px solid grey;
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 1em;
    text-align: left;
    display: flex;
    flex-direction: column-reverse; /* New messages appear at the bottom */
}

.message-box p {
    margin: 0;
    line-height: 1.4;
}

.insertion-point {
    display: inline-block;
    width: 1px;
    background-color: black;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#war-bet-input {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 35%; 
    box-sizing: border-box; }

