body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.content-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}



button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input[type="number"] {
    width: 80px;
    padding: 10px;
    font-size: 16px;
}

p {
    font-size: 1.2em;
}
.message-box {
    width: 100%;
    max-height: 130px; /* Adjust as needed */
    overflow-y: auto;
    margin: 15px;
    border: 2px solid grey;
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 1em;
    text-align: left;
    display: flex;
    flex-direction: column-reverse; /* New messages appear at the bottom */
}

.message-box p {
    margin: 0;
    line-height: 1.4;
}

.insertion-point {
    display: inline-block;
    width: 1px;
    background-color: black;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


#war-bet-input {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 75%; 
    box-sizing: border-box; }

#tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#combatCanvas{

     background-color: grey; 
     border: 5px solid black;
}



.overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.upgrade-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}
.upgrade-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.upgrade-item p {
    margin: 0;
    font-size: 0.86em;
    color: #333;
    flex-grow: 1;
}
#upgrade-buttons {
    display: flex;
    gap: 8px;
}

.assign-btn,
.remove-btn {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.assign-btn:enabled:hover {
    background-color: #005f8a;
}

.remove-btn {
    background-color: #ff5c5c;
}

.remove-btn:enabled:hover {
    background-color: #cc4949;
}


.upgrade-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soldier-emoji {
    transition: filter 0.3s ease;
  }
  
  .greyed-out {
    filter: grayscale(100%);
  }
  

#vial{
    width: 20px;
    height: 20px;
}


#upgrade-buttons{
   display: flex;
   flex-direction: column;   
   align-items: center;
}
#upgrade-buttons button{
    margin: 5px;
    padding: 5px 10px;
    
    border-radius: 5px;
}


.circular-progress-container {
     position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.circular-progress {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Rotate to make progress start from the top */
}

.progress-bg {
    fill: none;
    stroke: #eee; /* Background color */
    stroke-width: 3.8;
}

.progress {
    fill: none;
    stroke: #4caf50; /* Progress color */
    stroke-width: 3.8;
    stroke-linecap: round; /* Smooth the ends of the progress arc */
    transition: stroke-dasharray 0.2s ease; /* Animate the progress change */
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
/* General count below the circular progress */
.general-count {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}




/* Start combat button */
.start-btn {
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.start-btn:enabled:hover {
    background-color: #218838;
}














@media (min-width: 767px) and (max-width: 1223px) {

    .container {

        min-width: 1200px;
    
    }
    .message-box {
         min-width: 1200px;

    }
   
}



@media (min-width: 1300px) {

    .overlay {

        right: 5%;

    }
    .container {

        min-width: 1200px;
    
    }
}


@media (min-width: 1440px) {

    .overlay {

        right: 8%;

    }
}


@media (min-width: 2040px) {

    .overlay {

        right: 14%;
 
    }
} 


@media (min-width: 2340px) {

    .overlay {

        right: 18%;
 
    }
} 
@media (min-width: 2540px) {

    .overlay {

        right: 22%;
 
    }
} 





/* Media query for larger screens */
@media (min-width: 768px) {
    .content-box {
        width: 45%; /* Keep the same width for larger screens */
    }
}


/* Adjustments for mobile grid layout */
@media (max-width: 767px) {
    .container {
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    }
    .content-box {
        padding: 8px;
    }
    h1 {
        font-size: 1em;
        margin-bottom: 15x;
    }
    h3 {
        font-size: 1em;
        margin-bottom: 15x;
    }
    p {
        font-size: 0.8em;
    }
    label {
        font-size: 0.8em;
    }
    .message-box {
        width: 92%;
        max-height: 50px; /* Adjust as needed */
        overflow-y: auto;
        margin: 5px;
        border: 2px solid grey;
        background-color: black;
        color: white;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: -5px;
        font-size: 0.8em;
        text-align: left;
        display: flex;
        flex-direction: column-reverse; /* New messages appear at the bottom */
    }
    #vial{
        width: 15px;
        height: 15px;
    }
    #science-reward{
        font-size: 0.8em;
    }
    .message-box p {
        margin: 0;
        line-height: 1.2;
    }
    #combatCanvas {
        width: 100%;
        height: auto;
        border: 3px solid black;
    }
    button {
        padding: 5px 10px;
        margin: 5px;
        background-color: #008cba;
        color: white;
        font-size: 0.75em;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    input[type="number"] {
        width: 30%;
        padding: 10px;
        font-size: 0.8em;
    }
    .upgrade-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 150px;
        margin: auto;
    }
    #upgrade-buttons button{
        margin: 2px;
        padding: 5px 10px;
        font-size: 0.6em;
        border-radius: 5px;
    }
    .upgrade-item p {
        margin: 0;
        font-size: 0.56em;
        color: #333;
        flex-grow: 1;
    }
    .general-count {
        font-size: 0.6em;
        color: #333;
        font-weight: bold;
    }

    .progress-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        font-weight: bold;
        color: #333;
    }

    div button {
        margin: 10px;
        padding: 15px;
        font-size: 0.8em;
        border-radius: 40px;
    }
    
}
@media (max-width: 500px) {
  

    div button {
        margin: 10px;
        padding: 10px;
        font-size: 0.7em;
        border-radius: 40px;
    }
}

@media (max-width: 400px) {
  

    div button {
        margin: 5px;
        padding: 10px;
        font-size: 0.6em;
        border-radius: 40px;
    }
    
}
@media (max-width: 350px) {
  

    div button {
        margin: 2px;
        padding: 5px;
        font-size: 0.6em;
        border-radius: 10px;
    }
    
}